/* Computer */
@media only screen and (min-width: 1100px) and (max-width: 3000px) {
  .nav-listhide {
    display: none;
  }
}

/* PHONE */
@media (max-width: 640px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100px;
  }

  #home {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  .containerkontakt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 1rem;
    max-width: 1100px;
    margin: 0 auto;
  }

  .kontaktimg {
    grid-column: 1;
    grid-row: 1 / 2;
  }

  #contact {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  .containerkontakt h1 {
    margin-top: -20px;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-left: 10px;
  }

  body {
    background-color: #060606;
    color: #fff;
    line-height: 1.6;
  }

  header {
    background: #060606;
    color: #fff;
    padding: 1rem 0;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 30px;
  }

  nav ul li {
    display: inline;
    margin: 0 0.8rem;
    font-size: 18px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-family: "Racing Sans";
  }

  footer {
    background: #060606;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    max-width: 1450px;
    margin-bottom: 0px;
  }

  /* PORTFOLIO */
  .opgaverh1 {
    text-align: center;
    margin-bottom: -5px;
    font-size: 50px;
    margin-top: 0px;
  }

  .portfolio {
    max-width: 800px;
    margin: 0 auto;
  }

  .portfolio p {
    color: #a3a3a3;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
    font-family: "Proza librebold";
    font-size: 14px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery .item {
    flex: 1 1 48%;
    margin: 1rem;
    background: #7850a1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .gallery .item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .gallery .item h3 {
    margin: 0.5rem 0 0.5rem;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    margin-left: 5px;
    margin-bottom: -6px;
    margin-top: -5px;
    text-align: left;
    font-family: "Racing Sans";
  }

  .gallery .item h4 {
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    margin-left: 5px;
    margin-top: 8px;
    text-align: left;
    font-family: "Proza librebold";
  }

  .gallery .item p {
    color: hsl(0, 0%, 100%);
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    font-family: "Proza libre";
    font-size: 14px;
  }

  .gallery .linkhover:hover {
    transform: scale(1.05);
    color: #ffffff;
  }

  .gallery .item a {
    font-family: "Proza librebold";
    font-size: 12px;
    margin-left: 5px;
    color: #0099ff;
    text-align: left;
  }

  /* KONTAKT: */

  .kontakth1 {
    text-align: center;
    margin-bottom: -15px;
    font-size: 50px;
    margin-right: 150px;
  }

  form label {
    margin-top: 1rem;
  }

  form input,
  form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
  }

  form button {
    padding: 0.7rem;
    background: #1f8441;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: bold;
  }

  form button:hover {
    background: #004080;
  }

  .kontakth1 {
    margin-top: 80px;
  }

  #contact {
    flex: 1;
    min-width: 300px; /* Ensure the form has a minimum width */
    margin-right: 20px; /* Space between the form and the image */
  }

  .kontaktimg img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: 15px;
    margin-bottom: -120px;
    padding-bottom: 0px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 10px;
  }

  input,
  textarea {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }

  button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  /* INDEX: */

  .nav-list a:hover {
    transform: scale(1.05);
    color: #8f8f8f;
  }

  .home {
    padding: 2rem 1rem;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
  }

  #home {
    flex: 1;
    text-align: left;
    padding-right: 20px; /* Add spacing between text and image */
  }

  .beinirh1 {
    font-size: 80px; /* Adjust text size as needed */
    margin-top: -40px;
    margin-left: 80px;
    margin-bottom: 20px;
  }

  #home h2 {
    font-size: 22px; /* Adjust text size as needed */
    margin-top: -25px;
    margin-left: 180px;
  }

  .troesth1 {
    font-size: 50px; /* Adjust text size as needed */
    margin-left: 100px;
  }

  .hero {
    max-width: 60%;
    height: auto;
    display: block;

    margin-left: 20px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  /* OMMIG */

  .erfaringertekst {
    padding-bottom: 50px;
  }

  .mitcv {
    background-color: #ffffff;
    padding-left: 60px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .mitcvh2 {
    color: #060606;
    text-align: left;
    font-size: 50px;
    margin-bottom: 0px;
  }

  #ommig {
    flex: 2; /* Adjust as needed for the text area size */
    margin-left: 45px;
  }

  .ommigimg {
    flex: 1;
    padding-right: 20px;
    margin-bottom: 120px;
    padding-left: 60px;
    height: auto; /* Maintains aspect ratio */
  }

  .ommigimg img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: -20px;
    margin-bottom: -120px;
    padding-bottom: 0px;
  }

  #ommig h1 {
    font-size: 50px;
    margin-top: 0px;
    padding-top: 0px;
    font-family: "Racing Sans";
  }

  #ommig p {
    margin-bottom: 12px;
    line-height: 1.6;
    font-size: 14px;
    padding-right: 10px;
  }

  .mitcv h3 {
    color: #debf1d;
    font-family: "Racing sans";
    font-size: 30px;
  }

  .line-under-text {
    border-bottom: 4px solid #debf1d; /* Adjust the color and thickness as needed */
    width: 150px;
  }

  .mitcv h4 {
    color: #060606;
    font-family: "Proza librebold";
    margin-top: 20px;
    font-size: 14px;
  }

  .mitcv h5 {
    color: #060606;
    font-family: "Proza libre";
    font-size: 14px;
  }

  .mitcv p {
    color: #060606;
    font-family: "Proza libre";
    font-size: 14px;
  }

  /* Section styles */
  .uddannelse,
  .erhverv {
    margin-bottom: 40px;
  }

  .erhverv2 {
    margin-top: 0px;
    margin-left: 0px;
  }

  /* Paragraph styles */
  p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-family: "Proza libre";
  }
}

/* TABLET: */
@media only screen and (min-width: 640px) and (max-width: 1100px) {
  .containerkontakt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 1rem;
    max-width: 1100px;
    margin: 0 auto;
  }

  .kontaktimg {
    grid-column: 1;
    grid-row: 1 / 2;
  }

  #contact {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  .containerkontakt h1 {
    margin-top: -20px;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-left: 10px;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 50px;
  }

  nav ul li {
    display: inline;
    margin: 0 0.8rem;
    font-size: 24px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-family: "Racing Sans";
  }

  .beinirh1 {
    font-size: 60px; /* Adjust text size as needed */
    margin-top: 0px;
    margin-left: 90px;
    margin-bottom: 35px;
  }

  #home h2 {
    font-size: 22px; /* Adjust text size as needed */
    margin-top: -20px;
    margin-left: 180px;
  }

  .troesth1 {
    font-size: 40px; /* Adjust text size as needed */
    margin-left: 100px;
  }

  .hero {
    max-width: 70%;
    height: auto;
    display: block;

    margin-left: 20px;
  }

  .erfaringertekst {
    padding-bottom: 50px;
  }

  .mitcv {
    background-color: #ffffff;
    padding-left: 60px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .mitcvh2 {
    color: #060606;
    text-align: left;
    font-size: 50px;
    margin-bottom: 0px;
  }

  #ommig {
    flex: 2; /* Adjust as needed for the text area size */
    margin-left: 45px;
  }

  .ommigimg {
    flex: 1;
    padding-right: 20px;
    margin-bottom: 120px;
    padding-left: 60px;
    height: auto; /* Maintains aspect ratio */
  }

  .ommigimg img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: -20px;
    margin-bottom: -120px;
    padding-bottom: 0px;
  }

  #ommig h1 {
    font-size: 50px;
    margin-top: 0px;
    padding-top: 0px;
    font-family: "Racing Sans";
  }

  #ommig p {
    margin-bottom: 12px;
    line-height: 1.6;
    font-size: 14px;
    padding-right: 10px;
  }

  .mitcv h3 {
    color: #debf1d;
    font-family: "Racing sans";
    font-size: 30px;
  }

  .line-under-text {
    border-bottom: 4px solid #debf1d; /* Adjust the color and thickness as needed */
    width: 150px;
  }

  .mitcv h4 {
    color: #060606;
    font-family: "Proza librebold";
    margin-top: 20px;
    font-size: 14px;
  }

  .mitcv h5 {
    color: #060606;
    font-family: "Proza libre";
    font-size: 14px;
  }

  .mitcv p {
    color: #060606;
    font-family: "Proza libre";
    font-size: 14px;
  }

  /* Section styles */
  .uddannelse,
  .erhverv {
    margin-bottom: 40px;
  }

  .erhverv2 {
    margin-top: 0px;
    margin-left: 0px;
  }

  /* Paragraph styles */
  p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-family: "Proza libre";
  }

  .containerkontakt h1 {
    margin-top: -20px;
  }

  .kontaktimg img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: 200px;
    margin-bottom: -120px;
    padding-bottom: 0px;
  }

  .nav-listhide {
    display: none;
  }
}
